@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Projekt OOP lode</h1>
    <table border="5" align="center" width="800">
        <tr>
            <td align="center"><img height="200" width="150" src="test.jpg"></td>
            <td align="center"><img height="200" width="150" src="test.jpg"></td>
            <td align="center"><img height="200" width="150" src="test.jpg"></td>
            <td align="center"><img height="200" width="150" src="test.jpg"></td>

        </tr>
        <tr>
            <td align="center"><img height="200" width="150" src="test.jpg"></td>
            <td align="center"><img height="200" width="150" src="test.jpg"></td>
            <td align="center"><img height="200" width="150" src="test.jpg"></td>
            <td align="center"><img height="200" width="150" src="test.jpg"></td>
        </tr>
        <tr>
            <td align="center"><img height="200" width="150" src="test.jpg"></td>
            <td align="center"><img height="200" width="150" src="test.jpg"></td>
            <td align="center"><img height="200" width="150" src="test.jpg"></td>
            <td align="center"><img height="200" width="150" src="test.jpg"></td>

        </tr>
        <tr>
            <td align="center"><img height="200" width="150" src="test.jpg"></td>
            <td align="center"><img height="200" width="150" src="test.jpg"></td>
            <td align="center"><img height="200" width="150" src="test.jpg"></td>
            <td align="center"><img height="200" width="150" src="test.jpg"></td>
        </tr>
    </table>
</div>
